__pycache__/
*.pyc
dist/
build/
*.egg-info/
result
*.icc
*.dcp
*.DCP
testing/.cache/
testing/.config/
dcps/
.cache/
.config/
result-*
icc/
testing/dcp/renders/
testing/dcp/renders/wb_ab/
testing/dcp/renders/cc_wb/
testing/dcp/renders/vanilla_ab/
